# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/sonarlint/issuestore/9/5/95f6a7fa805e1b9db1b32a32e3f5d768774e3ddc
/D-veloppement-Web-JavaScript-Node.JS-MongoDB-archi.-MVC.iml
/sonarlint/issuestore/index.pb
/sonarlint/issuestore/2/3/2378c268daa3dd4cb9f449bc7b21b3a8ef458d4c
/misc.xml
/modules.xml
/sonarIssues.xml
/vcs.xml
/sonarlint/issuestore/4/2/42342f6a083ae26eabc73a370412c33ee89f0a41
/sonarlint/issuestore/c/0/c00be5e2dad008e0fea65ed524004dee6324aee5
/sonarlint/issuestore/e/2/e2334c66bccb391065712baa49ab742097624f45
/sonarlint/issuestore/f/c/fc8da8535059582b728ceba1ced837f3e858febc
